<app-loading *ngIf="!data"></app-loading>
<h2 *ngIf="data && data.length == 0 ">No se encontraron empleados</h2>
<table class="table table-sm" *ngIf="data && data.length > 0 ">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">nombre</th>
			<th scope="col">pais</th>
			<th scope="col">estado</th>
			<th scope="col">area</th>
			<th *ngIf="edit"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dat of data ">
			<th scope="col">{{dat.empleado_codigo}}</th>
			<td>{{dat.empleado_primer_nombre+" "+dat.empleado_otro_nombre +" "+dat.empleado_primer_apellido+"
				"+dat.empleado_segundo_apellido}}</td>
			<td>{{dat.pais_codigo| selectTipo:"pais":paises}}</td>
			<td>{{dat.empleado_estado | actived}}</td>
			<td>{{dat.area_codigo| selectTipo:"area":areas}}</td>
			<td *ngIf="edit">
				<app-button-edit (click)="editItem(dat.empleado_codigo)"></app-button-edit>
				<app-button-delete (click)="deleteItem(dat.empleado_codigo)"></app-button-delete>
			</td>
		</tr>
	</tbody>
</table>
<pre *ngIf="false">
      {{data | json}}
</pre>