<app-loading *ngIf="!data"></app-loading>
<h2 *ngIf="data && data.length == 0 ">No se encontraron clientes</h2>
<table class="table table-sm" *ngIf="data && data.length > 0 ">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">nombre</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dat of this.data">
			<th scope="col">{{dat[data_id]}}</th>
			<td>{{dat[data_name]}}</td>
		</tr>
	</tbody>
</table>