<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active"> <a class="dropdown-item"
					[routerLink]="['/empleados']">empleados</a>
			</li>
			<li class="nav-item" routerLinkActive="active"> <a class="dropdown-item" [routerLink]="['/areas']">areas</a>
			</li>
			<li class="nav-item" routerLinkActive="active"> <a class="dropdown-item" [routerLink]="['/paises']">paises</a>
			</li>
			<li class="nav-item" routerLinkActive="active"> <a class="dropdown-item"
					[routerLink]="['/documentos']">documentos</a>
			</li>
		</ul>
	</div>
</nav>