<app-loading *ngIf="!data"></app-loading>

<form class="col-8 offset-2 text-left" *ngIf="data" autocomplete="off" (ngSubmit)="onAction()" [formGroup]="forma">
	<div class="form-group row" *ngIf="data.empleado_codigo">
		<label class="col-4 col-form-label" for="empleado_codigo">ID:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="codigo" formControlName="empleado_codigo">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-2 col-form-label" for="empleado_estado">Activo:</label>
		<div class="col-7">
			<input class="form-control" type="checkbox" formControlName="empleado_estado" [class.is-invalid]="estadoInvalid">
			<span class="text-danger" *ngIf="estadoInvalid">
				registre actived
			</span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_primer_nombre">primer nombre:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="primer nombre" formControlName="empleado_primer_nombre"
				[class.is-invalid]="primer_nombreInvalid">
			<span class="text-danger" *ngIf="primer_nombreInvalid">
				dato no valido
			</span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_otro_nombre">segundo nombre:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="segundo nombre" formControlName="empleado_otro_nombre"
				[class.is-invalid]="otro_nombreInvalid">
			<span class="text-danger" *ngIf="otro_nombreInvalid">
				dato no valido
			</span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_primer_apellido">primer apellido:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="primer apellido" formControlName="empleado_primer_apellido"
				[class.is-invalid]="primer_apellidoInvalid">
			<span class="text-danger" *ngIf="primer_apellidoInvalid">
				dato no valido
			</span>
		</div>
	</div>


	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_segundo_apellido">segundo apellido:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="segundo apellido" formControlName="empleado_segundo_apellido"
				[class.is-invalid]="segundo_apellidoInvalid">
			<span class="text-danger" *ngIf="segundo_apellidoInvalid">
				dato no valido
			</span>
		</div>
	</div>


	<div class="form-group row">
		<label class="col-4 col-form-label" for="pais_codigo">pais:</label>
		<div class="col-8">
			<select class="form-control" formControlName="pais_codigo" [class.is-invalid]="paisInvalid">
				<option *ngFor="let pais of paises" [value]="pais.pais_codigo">{{pais.pais_nombre}}</option>
			</select>
			<span class="text-danger" *ngIf="paisInvalid">
				no valido
			</span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-4 col-form-label" for="area_codigo">area:</label>
		<div class="col-8">
			<select class="form-control" formControlName="area_codigo" [class.is-invalid]="areaInvalid">
				<option *ngFor="let area of areas" [value]="area.area_codigo">{{area.area_nombre}}</option>
			</select>
			<span class="text-danger" *ngIf="areaInvalid">
				no valido
			</span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-4 col-form-label" for="tipodocumento_codigo">tipo documento:</label>
		<div class="col-8">
			<select class="form-control" formControlName="tipodocumento_codigo" [class.is-invalid]="tipodocumentoInvalid">
				<option *ngFor="let tipodocumento of tipos" [value]="tipodocumento.tipodocumento_codigo">
					{{tipodocumento.tipodocumento_nombre}}</option>
			</select>
			<span class="text-danger" *ngIf="tipodocumentoInvalid">
				no valido
			</span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_identificacion">Identificacion:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="111111111" formControlName="empleado_identificacion"
				[class.is-invalid]="identificacionInvalid">
			<span class="text-danger" *ngIf="identificacionInvalid">
				no valido
			</span>
		</div>
	</div>


	<div class="form-group row">
		<label class="col-4 col-form-label" for="empleado_ingreso">ingreso:</label>
		<div class="col-8">
			<input class="form-control" type="date" placeholder="111111111" formControlName="empleado_ingreso"
				[class.is-invalid]="ingresoInvalid">
			<span class="text-danger" *ngIf="ingresoInvalid">
				no valido
			</span>
		</div>
	</div>

	<div class="form-group row" *ngIf="data.empleado_codigo">
		<label class="col-4 col-form-label" for="empleado_correo">correo:</label>
		<div class="col-8">
			<input class="form-control" type="text" placeholder="111111111" formControlName="empleado_correo"
				[class.is-invalid]="correoInvalid">
			<span class="text-danger" *ngIf="correoInvalid">
				no valido
			</span>
		</div>
	</div>
	<div class="form-group row" *ngIf="data.empleado_codigo">
		<label class="col-4 col-form-label" for="empleado_creado">creado:</label>
		<div class="col-8">
			{{data.empleado_creado}}
		</div>
	</div>
	<div class="form-group row" *ngIf="data.empleado_codigo">
		<label class="col-4 col-form-label" for="empleado_modificado">modificado:</label>
		<div class="col-8">
			{{data.empleado_modificado}}
		</div>
	</div>

	<div class="form-group row">
		<app-button-create-edit class="col-md-8 input-group" [id]="data.empleado_codigo" (onCancel)="cancel()">
		</app-button-create-edit>
	</div>
</form>